@import '../../variables.scss';

.blog_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    min-height: 100vh;
    background-color: #fff;

    .search {
        border: none;
        border: 1px solid $bg-color-header;
        outline: none;
        letter-spacing: 1px;
        font-weight: 500;
        border-radius: 23px;
        margin-bottom: 1rem;
        padding: .7rem;
        width: 50%;
        margin-bottom: 3rem;
    }


    .blog_page_container {
        transition: all 350ms;
        width: 80%;
        padding: 1rem;
        display: grid;
        // place-items: start;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));


        .link_blog {
            color: #fff;
            cursor: pointer;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            .img_container {
                width: 100%;
                height: 20vh;

                .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
            }

            .title_container {
                display: grid;
                gap: 1rem;
                width: 100%;
                padding: 1rem .7rem;
                font-size: 1rem;
                color: #000;
                font-weight: 600;
            }

        }

    }

    .skeleton_card_container {
        padding: 1rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
        width: 100%;


        .skeleton_card {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;

            .skeleton_img {
                width: 100%;
                height: 20vh;
            }

            .skeleton_title {
                display: grid;
                gap: 1rem;
                width: 95%;
                padding: 1rem 0;
            }
        }
    }
}