@import '../../variables.scss';

.blog_page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 0;
    height: 91.66vh;
    background-image: $bg-linear-gradient;
    background: #292929;


    .blog_page_container {
        @include grid;
        gap: 0;
        width: 50%;

        .search {
            border: none;
            border-bottom: 1px solid $bg-color-header;
            outline: none;
            letter-spacing: 1px;
            font-weight: 500;
            border-radius: 23px;
            margin-bottom: 1rem;
            padding: .7rem;
        }

        .a {
            text-decoration: none;
        }


        .blog_container_admin {
            @include flex;
            gap: 1rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 1rem;
            cursor: pointer;

            .title_container {
                display: flex;
                align-items: center;
                gap: 1rem;

                img {
                    width: 15%;
                    height: 6vh;
                    object-fit: cover;
                }

                .title {
                    font-size: 1.3rem;
                    font-weight: 500;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                    color: $txt-color;
                }
            }

            div:last-child {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }

        .blog_container {
            @include flex;
            justify-content: flex-start;
            gap: 2rem;
            // border: 1px solid black;
            margin: 1rem 0;
            padding: 1rem;
            cursor: pointer;
            color: black;
            // border: solid;


            .title {
                font-size: 1.3rem;
                font-weight: 500;
            }
        }

        .pagination_container {
            display: flex;
            gap: 1rem;

            // align-items: center;
        }

        .pagination_container button {
            color: $txt-color;
            border: none;
            background-color: transparent;
        }

        .num {
            padding: .3rem .8rem;
            background-color: rgb(0, 183, 255) !important;
            border-radius: 30px;
            color: $bg-color-header !important;
            font-weight: bold !important;

        }

        @media(max-width:1239px) {
            width: 70%;
            transition: all 350ms linear;

        }

        @media(max-width:700px) {
            width: 90%;
            transition: all 350ms linear;
        }
    }

}

.blog_page.light {
    background: transparent;

    .blog_container_admin .title_container .title {
        color: $txt-color-light;
    }

    .pagination_container button {
        color: $txt-color-light;
    }
}